{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edition d'un point de distribution.</h1>

    Affiche les détails spécifiques à un point de distribution

    <ul>
        <li>Un formulaire permettra d'ajouter ou modifier les informations liées au pdi.</li>
    </ul>
    
    {{form_start(formPdi)}}
    {{form_widget(formPdi)}}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{form_end(formPdi)}}
    

{% endblock %}
