{% extends 'base.html.twig' %}

{% block title %}Gestion admin{% endblock %}

{% block body %}
    <h1>Page de création ou modification d'un utilisateur.</h1>
    <ul>
        <li>Cette page Permettra de créer un nouvel utilisateur.</li>
        <li>Mais aussi de modifier les informations relatives à un utilisateur existant.</li>
    </ul>
{% endblock %}
