{% extends 'base.html.twig' %}

{% block title %}Gestion admin{% endblock %}

{% block body %}
    <h1>Interface de gestion de l'administrateur.</h1>
    <ul>
        <li>Cette page affichera la liste des utilisateurs</li>
        <li>Il sera possible d'en créer, modifier ou supprimer.</li>
        <li>Il faudra impérativement être connecté sur un compte administrateur pour avoir accès à cette page</li>
    </ul>
{% endblock %}
